*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(255, 255, 255);

}
.logo{
    font-size: 14px;
    color: rgb(163, 163, 163) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.logo span {
    color: #00a892;
}

.navigation{
    list-style: none;
    display: flex;
    gap: 14px;  
    font-family:Arial, Helvetica, sans-serif; 
}

.navigation a {
    color: #888f8F;
    text-decoration: none;
}
.navigation li a
.navigation li a:visited,
.navigation li a:hover,
.navigation li a:active {
    color: #888f8F;
    text-decoration: none;
}

p{
    text-align: center;
    font-family:Work Sans , Arial , sans-serif;
    letter-spacing: -.3px;
    margin: 1em 0;
    color: #00a892;
    font-size: 34px;
    margin-top: 30px;
    font-weight: 400;
    
}
.imglogo{
    display: block;
    margin: 0 auto 20px;
    width: 150;
    margin-left: 48%;
    margin-top: 40px;

}
.paragraphs{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
    align-items: stretch;
    
}

.first,
.second{ 
     display: block;
     flex: 1;
    font-size: 17px;
    color: #7d8383;
    text-align: justify;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-weight: normal;
    padding: 10px;
    min-height: 280px;
}
.first{
    padding-left: 14%;
}
.second{
    padding-right:18%;
}